ul.my-users {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.my-users li {
    display: inline-block;
    padding-right: 30px;
}

ul.my-users li:last-of-type {
    padding-right: 0;
}